@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}
body {
    background-image: url('../image/roulette_bg.jpg');
}

.result {    
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.app {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.arrow {
    position: absolute;
    width: 60px;
    left: 50%;
    top: -10px;
    z-index: 2;
    transform: translateX(-45%)
}

.wheel {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.button {
    display: block;
    width: 250px;
    margin: 10px auto;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
}

.blur {
    animation: blur 10s;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}

@keyframes blur {
    0% {
        filter: blur(0.5px)
    }
    30% {
        filter: blur(1px)
    }
    50% {
        filter: blur(2px)
    }
    80% {
        filter: blur(1.5px)
    }
    95% {
        filter: blur(0px)
    }
}